@model List<ClickAndCollect.Models.Order>

@{
    ViewData["Title"] = "Espace Préparateur";
}

<div class="container mt-4">
    <h2>Commandes à préparer aujourd'hui</h2>
    <hr />

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <h4>Erreur de Base de Données</h4>
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }

    @if (ViewBag.InfoMessage != null)
    {
        <div class="alert alert-info text-center">
            @ViewBag.InfoMessage
        </div>
    }
    else if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Nom du Client</th>
                    <th>Créneau de Retrait</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @order.Client.FirstName @order.Client.SurName
                        </td>
                        <td class="align-middle">
                            @order.TimeSlot.StartingHour.ToString("HH:mm") - @order.TimeSlot.EndingHour.ToString("HH:mm")
                        </td>
                        <td class="text-center">
                            <a asp-action="PrepareOrder" asp-controller="Home" asp-route-id="@order.OrderID" class="btn btn-warning btn-sm">
                                Commencer la préparation
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>